
#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.photograph-header h1 {
    color: #D3573C;
    font-size: 3em;
}
.photograph-header p:nth-of-type(1){
    font-size: 1.5em;
    color: #D3573C;
}
.photograph-header img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.photograph-header div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/*Partie Photos*/
.sectiondesign{
     margin: 0 100px;
     padding: 0 30px;
}

.trie{
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}
.trie p{
    margin: 0;
}
.trie select{
    background-color: #901C1C;
    color: white;
    border: none;
    padding: 1em;
}
.trie select option{
    border: 1px solid white;
}

/*Media*/
.sectionphotos {
    margin: 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px 100px;
    padding: 20px;
    box-sizing: border-box;
}
.sectionphotos img , .sectionphotos video{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.infoDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    color: #901C1C;
    font-weight: 400;
    font-size: 24px;
}
.likesDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.likesDiv img {
    margin: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*Encadré - Informations likes et prix*/
.infolikesprice{
    position: fixed;
    width: 320px;
    bottom: 0;
    right: 5%;
    background-color: #DB8876;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    z-index: 1000;
    color: black;
    font-size: 24px;
    font-weight: 500;
    padding: 5px 20px;
}
.boxLikes {
    display: flex;
    align-items: center;
    padding: 0;
}
.boxLikes p {
    margin: 0; 
}


/*Contact Modal*/

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    padding: 20px;
    justify-content: space-between;
    width: 100%;   
}
.content_header{
    margin: 15px 0 20px;
    display: flex;
    flex-direction: column;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}
#photographer_name{
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}
/* lightbox */
#lightbox_modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #FAFAFA;
    width: 50%;
    display: flex;
    border: 2px solid red;
}
.lightbox_image{
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.lightbox_close{
    object-fit: contain;
}